/* !ABOUT: Dark &amp; warm for night-time reading. !MOD:1 */
/* !MOD:<number> indicates an optional style, sorted at position <number>. */
html { background: #111;}
body {background:#000; color: #a96;}
span.logo { background: url('logo40by.png'); }
a { color:#5a6; }
a:visited, a:hover { color:#8a6; }
blockquote { color: #775;   border-left: 2px solid #775; }
div.subtitle, div.footer { background: #444; color: #aaa078; }
div.error, span.error { background: #653; color: #bbb;  }
h2,  h2 a, h3, h3 a, h2 a:visited, h3 a:visited, h2 a:hover, h3 a:hover {
 color: #ba7;
}
div.hiddenstory h2, div.hiddenstory h2 a { background: #355; }
div.abbr { color: #aaa078; border-top: 0px solid #355; }
div.abbr span.title { color: #aaa078; background: #355; }
form input, form select { background: #666; border:1px solid #888; }
div.scroll a { background: #444; color: #a96; }